// Fonts
$font-primary: 'Noto Sans', 'Roboto', sans-serif;
$font-mono: 'JetBrains Mono', monospace;
$font-primary-size: 14px;

// Layout
$main-top-padding: 1.5rem;
$markdown-content-width: 900px;
$main-bg: #f0f8ff;

// Markdown styling
$markdown-bg: #fff;
$markdown-shadow: rgba(0, 0, 0, 0.05);
$markdown-hr: #ccc;

$markdown-table-border: #dbd9d5;
$markdown-table-header-bg: #f6f8fa;
$markdown-table-row-bg: #fdfcfb;
$markdown-table-header-color: #333;

// Code blocks
$code-bg: #f8faff;
$code-border: #D3D5D6;
$code-highlight: #ccc;
$code-copied-bg: #EBEDF2;
$code-color: #405559;
// $inline-code-color: #8D0033;
// $inline-code-color: #B7410E;
// $inline-code-color: #a0522d;
// $inline-code-color: #e06c75;
$inline-code-color: #A90D91;

// Links
$link-color: #485fc7;
$link-hover-color: #2F3E81;
// $link-hover-color: #1976d2;

// Tree view
$tree-entry-color: #6b7683;
$tree-entry-hover-color: #1976d2;
$tree-entry-highlight-bg: #e3f2fd;
$tree-entry-highlight-color: #1976d2;
$tree-indent-line-color: #e3e8ee;
$tree-active-bg: #bbdefb;
$tree-active-color: #1976d2;

// Misc
$highlight-bg: #fff59d;

// Search overlay
$search-hover-color: #1976d2;
$search-overlay-bg: rgba(255, 255, 255, 0.9);
$search-overlay-shadow: rgba(0, 0, 0, 0.1);
$search-preview-file-color: #3572b0;
